/* header ---------------------------------------------------------------------------------------------*/
*::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;

}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 5vh;
    width: 200px;
    transition: .3s ease-out;
    position: absolute;
    left: 15%;
    bottom: 30%;
}

.logo img:hover {
    box-shadow: 0px 0px 30px #0077B6;
}

table {
    position: ;
    bottom: 5px;
}

.nav {
    top: 0px;
    left: 0px;
    background-color: #061A40;
    color: #B9D6F2;
    font-family: 'Black Ops One', sans-serif;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    width: 100%;
    position: absolute;
    left: 0;

}

.links a {
    color: #fff;
    margin-right: 25px;
    position: relative;
}

.links a::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .3s;
}

.links a:hover::before {
    width: 100%;
    left: 0;
}

form {
    display: flex;
    justify-content: center;
}

input[type=button] {
    font-size: 18px;
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
    transform: scale(1.1);

}

.btn:disabled {
    color: #061A40;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:hover:disabled {
    border: 2px dashed red;
}


/*container -------------------------------------------------------------------------------------------------------------------*/
.search {
    margin-top: 15vh;
    display: inline-block;
    position: relative;

}

.search input[type="text"] {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
}

.games-container {
    margin-top: 15vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80%;
    margin-bottom: 20px;
}

div img {
    height: 250px;
    width: 100%;
    border-radius: 5px;

}

.games-container div {
    grid-template-rows: 1fr;
    transition: all .4s ease-in-out;


}

.games-container div:hover {
    transform: scale(1.1);
}


#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #e2eafc;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 65%;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    overflow: scroll;

}

#popup img {
    width: 40%;
    height: 40%;
    float: left;
}

#popup button {
    position: absolute;
    bottom: 0%;
    right: 0%;
    color: black;
    border: black 2px solid;
    border-radius: 2px;
    background-color: #3b82f6;
}

.popup-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    color: #061A40;
    font-size: 40px;
    text-align: center;
    padding-left: 5px;
    text-decoration: underline;
}

.rating {
    color: black;
    font-weight: bold;
}

.tags {
    color: black;
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
}

.platforms {
    color: black;
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
}

.releasedate {
    color: black;
    font-weight: bold;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    filter: brightness(20%);
}

.footer {
    margin-top: auto;
    padding-top: 10px;
    background-color: #061A40;
    color: white;
    font-size: 17px;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    margin-bottom: 5px;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}

.footer img {
    margin-top: 5px;
    height: 5vh;
    width: 200px;
    transition: .4s ease-out;

}

.footer img:hover {
    box-shadow: 0px 0px 30px #0077B6;
}

.footer p {
    max-width: 500px;
    word-wrap: break-word;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the icons */
}

.social-icons a {
    text-decoration: none;
    color: #333;
    /* Adjust the color as needed */
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #007BFF;
    /* Adjust the hover color as needed */
}

.fa-brands {
    font-size: 32px;
    /* Adjust the font size as needed */
    color: white;
    margin-right: 35px;
    transition: color 0.3s ease-in-out;
}

.fa-brands:hover {
    font-size: 32px;
    /* Adjust the font size as needed */
    color: #007BFF;
}

.td {
    text-align: left;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .logo img {
        height: 5vh;
        width: 100px;
        transition: .3s ease-out;
        position: absolute;
        left: 15%;
        bottom: 30%;
    }

    .search input[type="text"] {
        width: 250px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .name {
        font-weight: bold;
        color: #061A40;
        font-size: 22px;
        text-align: center;
        padding-left: 5px;
        text-decoration: underline;
        margin-bottom: 50px;
    }

    .rating {
        color: black;
        font-weight: bold;
    }

    .tags {
        color: black;
        max-width: 10ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
    }

    .platforms {
        color: black;
        max-width: 10ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
    }

    .releasedate {
        color: black;
        font-weight: bold;
        font-size: 18px;
    }


}