<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <title>Accueil</title>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="/"><img src="{{url_for('static' , filename='imgs/logo.png' )}}" alt="" srcset=""></a>
        </div>
    </div>
    <div class="search">
        <input placeholder="Search..." type="text" id="search">
        <button type="submit" class="btn" onclick="search()">Go</button>
    </div>    
    <div id="games-container" class="games-container"> 
        {% for game in games %}
            <div class="item" onclick="openPopup('{{ game['image_link'] }}', '{{ game['name'] }}', '{{ game['platforms'] }}', '{{ game['release_date'] }}', '{{ game['rating'] }}', '{{ game['tags'] }}')">
                <img src="{{ game['image_link'] }}" alt="">
            </div>
        {% endfor %}
    </div>
    <br>
    <form id="loadMoreForm">
        <input type="button" class="btn" name="btn" id="btn" onclick="loadmore()" value="Show More" >
    </form>
    <div class="footer">
        <a href="/"><img src="{{url_for('static' , filename='imgs/logo.png' )}}" alt="" srcset=""></a>
        <p>Embark on an epic gaming journey with our handpicked selection of top-tier titles. Whether you're a seasoned gamer or a casual player, we've got something for everyone.</p>
        <span class="social-icon" style="display: flex; justify-content: space-between;">
            <a href="https://github.com/Rayenkan">
                <i class="fa-brands fa-github"></i>        
            </a>
            <a href="https://www.linkedin.com/in/rayen-kanzari-b17a52298/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100090960805342">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="mailto:ac485561@gmail.com">
                <i class="fa-brands fa-google"></i>
            </a>
        </span><br>
        © 2023 Designed By Rayen kanzari . All rights reserved.
    </div>
    <div id="popup">
        <img id="popupImage" alt=""><br>
        <span class="name"></span><br><br><br><br><br><br>
        <div style="display: flex; justify-content: center;  height: 50%;"> 
            <table style="width: 80%; height: 100%;"> 
                <tr>
                    <td class="td">release date :</td>
                    <td><span class="releasedate"></span></td>
                </tr>
                <tr>
                    <td  class="td">rating :</td>
                    <td><span class="rating"></span><i class="fa-solid fa-star"></i></td>
                </tr>
                <tr >
                    <td class="td" >platforms :</td>
                    <td><span class="platforms"></span></td>
                </tr>
                
                
                <tr>
                    <td class="td">tags : </td>
                    <td><span class="tags"></span></td>
                </tr>
            </table>
        </div>
        
        
        <button onclick="closePopup()">Close</button>
    </div>

    <div id="overlay" onclick="closePopup()"></div>
    
    
</body>
</html>
