<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <h2 class="title" >Sign Up</h2><br>
        <input type="text" placeholder="Full name" class="input" name="" id="" ><br>
        <input type="text" class="input" name="" id="" placeholder="Email or User name"><br>
        <input type="text" name="" class="input" id="" placeholder="password"><br><br>
        <input type="button" value="submit" class="submit" onclick="window.location.href='index.html';">
    </div>
    <hn></hn>
</body>
</html>